.carousel{
    height: 450px;
    object-fit: cover;
}

@media all and (max-width: 767px){
    .centrarCards{
        display: flex;
        justify-content: center;
    }
    .margen {
        margin-top: 15px;
    }
}
